<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
	<h1>PROFIL</h1>
	<img src = "https://drive.google.com/uc?id=1DvkPR8Yhj__-QDv7yhiA2L5xGxL0jtrE" height = "300" width = "250">
    <p>Nama : {{ name }} <br/> </p>
    <p>NPM : {{ npm }}</p>
	<p>Tempat Kuliah : {{ tk }}</p>
	<p>Hobi : {{ hobi }}</p>
    <p>Desc : Saya berumur {{ age }} tahun. Saya berasal dari Surabaya.</p>
</body>
</html>
